/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400&display=swap');
/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #7CFFCB;
    background-image: linear-gradient(315deg, #7CFFCB 0%, #74f2ce 74%);
}
ul li {
    border: 1px solid #BAC6E2;
    transition: all 0.2s ease-in-out;
}
ul li:hover,
ul li:focus {
    border: 1px solid #4A5471;
    background-color: #BAC6E2;
}
.button {
    width: 100%;
    background-color: #BAC6E2;
    border: none;
    font: 16px 'Montserrat', sans-serif;
    transition: all 0.2s ease-in-out;
}
.button:hover {
    background-color: #2B3863;
    color: #FFFFFF;
}
.quiz-container {
    width: 550px;
    overflow: hidden;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
}
