//colors
$container-bg: #262626;
$card-wrapper: #CCCCCC;
$card-body: #EEEEEE;
$card-top1: #DEA759;
$card-top2: #3F3F3F;
$card-top-text: #FFFFFF;
$card-body-text: #333333;
$stars: #E57701;
$number-selected: #000000;
$price-text: #F6F6F6;