@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
/* line 1, ../../Projects on GitHub/Testimonial-Box-Switcher/css/scss/base/_base.scss */
body {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/main-bg.jpg");
  overflow: hidden;
  font-size: 16px;
  font-family: 'Merriweather', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* line 1, ../../Projects on GitHub/Testimonial-Box-Switcher/css/scss/base/_reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 62.5rem;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 3.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* line 14, ../../Projects on GitHub/Testimonial-Box-Switcher/css/scss/layouts/_main.scss */
.header h1 {
  font-weight: bold;
  font-family: "Merriweather", serif;
  font-size: 2.375rem;
  color: #B22222;
}

/* line 18, ../../Projects on GitHub/Testimonial-Box-Switcher/css/scss/layouts/_main.scss */
.testimonial-container {
  width: 100%;
  margin-top: 2.5rem;
  display: flex;
}

/* line 23, ../../Projects on GitHub/Testimonial-Box-Switcher/css/scss/layouts/_main.scss */
.user {
  width: 15.625rem;
}

/* line 25, ../../Projects on GitHub/Testimonial-Box-Switcher/css/scss/layouts/_main.scss */
.user .user-image {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/* line 31, ../../Projects on GitHub/Testimonial-Box-Switcher/css/scss/layouts/_main.scss */
.testimonial {
  width: calc(100% - 5px);
  background-color: #FFFFFF;
  padding: 1.25rem;
  margin-left: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* line 39, ../../Projects on GitHub/Testimonial-Box-Switcher/css/scss/layouts/_main.scss */
.testimonial i {
  font-size: 3.5rem;
  color: #B22222;
}

/* line 43, ../../Projects on GitHub/Testimonial-Box-Switcher/css/scss/layouts/_main.scss */
.testimonial p {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  color: #000000;
  margin-top: 1rem;
}

/* line 49, ../../Projects on GitHub/Testimonial-Box-Switcher/css/scss/layouts/_main.scss */
.user-details {
  margin-top: 1.25rem;
}

/* line 51, ../../Projects on GitHub/Testimonial-Box-Switcher/css/scss/layouts/_main.scss */
.user-details .username {
  font-weight: bold;
  font-family: "Merriweather", serif;
  font-size: 1.25rem;
  color: #000000;
}

/* line 55, ../../Projects on GitHub/Testimonial-Box-Switcher/css/scss/layouts/_main.scss */
.user-details .role {
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  color: #7B6868;
}

/* line 60, ../../Projects on GitHub/Testimonial-Box-Switcher/css/scss/layouts/_main.scss */
.progress-bar {
  width: 100%;
  height: 0.25rem;
  background-color: #B22222;
  margin-top: 1rem;
  animation: grow 10s linear infinite;
  transform-origin: left;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

/*# sourceMappingURL=style.css.map */