body {
    width: 100vw;
    height: 100vh;
    background-color: #B8BAC4;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
li {
    list-style: none;
    padding: 10px 5px;
    border-bottom: 1px solid #B8BAC4;;
}
.header {font: bold 8rem 'Poppins', sans-serif;}
.todo {padding-left: 0;}
.completed {
    cursor: pointer;
    text-decoration: line-through;
}