* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {list-style: none;}
a {
    display: block;
    text-decoration: none;
}
button {
    display: block;
    cursor: pointer;
}
button:focus { outline: none;}
img {
    display: block;
    max-width: 100%;
}