.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-wrapper {
    width: 100rem;
    height: 70rem;
    background-color: $clr-light-300;
    box-shadow: 0 2rem 6rem rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
}
.banner {
    position: absolute;
    top: 25%;
    left: -30rem;
    color: $clr-light-300;
    width: 30rem;
    z-index: 100;
    transition: left 0.8s;
    h1 {
        font-size: 4rem;
        line-height: 1;
        margin-bottom: 3rem;
    }
    p {
        font-size: 1.6rem;
        line-height: 1.5;
    }
}
.container.change .banner {left: 5rem;}
.green-bg {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, $clr-accent-200, $clr-accent-100);
    background: url("https://i.postimg.cc/GpCw8CLp/earth.jpg");
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    transition: width 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.container.change .green-bg{
    width: 40%;
    background: url("https://i.postimg.cc/nLHBhXDc/business-woman.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
.signup-form {
    width: 60rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10rem 0;
    transition: left 1.5s cubic-bezier(0.19, 1, 0.22, 1);
    h1 {
        font-size: 3rem;
        color: $clr-accent-200;
    }
    p {
        font-size: 1.5rem;
        color: $clr-icons;
        margin-bottom: 2rem;
    }
}
.container.change .signup-form{left: 40rem;}
.input-group {
    position: relative;
    border-bottom: 1px solid #A4ADC5;
    input {
        width: 28rem;
        height: 5rem;
        padding: 1rem 1rem 1rem 0;
        border-radius: 0.5rem;
    }
}
.logIn {
    margin-top: 3rem;
    text-align: center;
    a {
        color: $clr-darkest;
        text-decoration:underline;
    }
}