body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #d4c73c;
    background-image: linear-gradient(315deg, #d4c73c 0%, #fff584 74%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $sans-serif;
    color: $color-black;
}
small {
    @include font-sans-serif(10);
    margin-bottom: 2px;
}
.container {
    width: 400px;
    max-width: 100%;
    padding: 30px;
    border: 1px solid red;
   background-color: $color-black;
   color: $color-light;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2)
}
.header {
    @include font-sans-serif(24);
    text-align: center;
    margin: 20px 0;
}

.key {
    width: 300px;
    .input-group {
        width: 300px;
        height: 40px;
        padding: 4px;
        border-radius: 4px;
        background-color: $color-black-light;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        input {
            border: none;
            outline: none;
            background-color: $color-black-light;
            width: 261px;
            height: 30px;
            padding: 3px;
            text-align: center;
            &::placeholder {
                color: #fff;
                @include font-sans-serif(18);
            }
        }
        button {
            cursor: pointer;
            width: 30px;
            height: 30px;
            border-radius: 2px;
            background-color: $color-primary-dark;
            background-image: linear-gradient(315deg, $color-primary-dark 0%, $color-primary 74%);
        }
    }
}

.settings {
    margin-bottom: 20px;
    .form-check {
        width: 300px;
        height:36px;
        background-color: $color-black-light;
        margin: 4px 0;
        padding: 4px 10px;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        label {
            @include font-sans-serif(12);
        }
    }
}
.btn-generate {
    cursor: pointer;
    width: 300px;
    height: 40px;
    padding: 10px 4px;
    border-radius: 4px;
    @include font-sans-serif(12);
    text-transform: uppercase;
    background-color: $color-primary-dark;
    background-image: linear-gradient(315deg, $color-primary-dark 0%, $color-primary 74%);
    color: $color-black;
    margin-bottom: 40px;
    box-shadow: $box-shadow-primary;
}
