/***colors***/
$color-primary-light:#fff584;
$color-primary: #FFF05A;
$color-primary-dark:#d4c73c;
$color-secondary: #aba997;
$color-secondary-dark: #969693;
$color-light: #FFFFFF;
$color-black-light: #3e3e3c;
$color-black:#242421;

$box-shadow-primary: 1px 1px 10px 1px $color-primary-light;



/***Typography***/
//font-family
$sans-serif: 'Roboto', sans-serif;

@mixin font-sans-serif($size) {
    font-family: $sans-serif;
    @if $size == 10 {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 1.5;
    }
    @else if $size == 12 {
        font-size: 12px;
        line-height: 1.5;
        font-weight: bold;
    }
    @else if $size == 14 {
        font-size: 14px;
        line-height: 1.5;
    }
    @else if $size == 18 {
        font-size: 18px;
        line-height: 1.5;
    }
    @else if $size == 24 {
        font-size: 24px;
        line-height: 1.5;
    }
}