//colors
$clr-accent-100: #4CBF91;
$clr-accent-200: #3AAf9F;
$clr-light-100: #DDDDDD;
$clr-light-200: #EEEEEE;
$clr-light-300: #FFFFFF;
$clr-icons: #555555;
$clr-icons-border: #777777;
$clr-darkest: #000000;
$clr-error: #C73E1D;
$clr-disabled: #939393;